.margin50{
    margin-left: 50px;
    margin-top: 50px;
    margin-right: 50px;
    /* text-align: justify; */
    display: flex;
    flex-direction: row;
    gap: 50px;
    /* justify-content: center; */
    /* align-items: center; */
}
.big{
    display: flex;
}
.small{
display: none;
}
h4{
    margin: 0;
    margin-bottom: 15px;
    margin-top: 15px;
}
hr{
    margin: 0;
}
p{
    margin: 0;
}

.contactdiv{
    display: flex;
    flex-direction: column;
}

@media (max-width: 768px) {
    .margin50{
        margin-left: 0px;
        /* margin-top: 50px; */
        margin-right: 0px;
        /* text-align: justify; */
        flex-direction: column;
    }
   .big{
    display: none;

   }
   .small{
    display: flex;
   } 
   .contactdiv{
    align-items: center;
}
.mapdiv{
    display: flex;
    justify-content: center;
    align-items: center;
}

}